@font-face {
    font-family: FredokaOne;
    src: url(./font/Fredoka_One/FredokaOne-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: FredokaOne;
    font-size: 18px;
}

body {
    background-color: f8ede5;  
}


.header { 
    background-color: dab59d;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 5px 1%;
}

.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 46px;
    width: auto;
    transition: all 0.3s
    }

.header .logo img:hover {
    transform: scale(1.1);
}

.header .linksdenav {
    list-style: none;
}

.header .linksdenav li {
    display: inline-block;
    padding:  5px;
}

.header .linksdenav li:hover {
    transform: scale(1.1);
}

.header .linksdenav a {
    color: black;
    text-decoration: none;
}

.header .linksdenav li a:hover {
    color: bisque;
    
}
